<div id="demos-container">

  <header>
    <h2>JW Player Demos and Code Examples</h2>
    <p>Below you can find basic examples of extending feature functionality of the player. <br>Check back as more demos and examples are added to support new features.</p> 
  </header>

  <div id="demos-list">
  	<div ng-repeat="group in groupedDemos">

  		<div class="section group">
  			<div ng-repeat="demo in group">
  				<div class="col span_1_of_4">
		        <div class="demo-item">
		          <a href="{{demo.source}}">{{demo.title}}</a>
		          <p>{{demo.description}}</p>
		        </div>
	      </div>
  		</div>
  		
  	</div>
	</div>

	</div>

</div>



