<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=960, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>JW Developer | {{ title }}</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.ico">

   	<!-- Responsive and mobile friendly stuff -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../vendor/css/bootstrap.min.css" media="all">
	<link rel="stylesheet" href="/assets/css/html5reset.css" media="all">
	<link rel="stylesheet" href="/assets/css/col.css" media="all">
	<link rel="stylesheet" href="/assets/css/2cols.css" media="all">
	<link rel="stylesheet" href="/assets/css/prettify.css"></link>
	<link rel="stylesheet" href="/assets/css/demos.css">

	<!-- JS -->
	<script src="//content.jwplatform.com/libraries/VZOhu4w3.js"></script>

</head>
